<a href="https://colab.research.google.com/github/bezerraluis/Time-Series/blob/main/Time_Series_sales_super_store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Previsão de Séries Temporais com o Prophet

Neste projeto, trabalharemos com séries temporais (*time series*) e a ferramenta ***Prophet***. Especificamente, faremos a previsão relacionada ao desfecho (*outcomes*) de animais em um abrigo

Antes de entrar no projeto em si, vamos conhecer o Prophet e o motivo dele ser tão poderoso para lidar com dados temporais.

## Prophet e Séries Temporais

Fazer boas previsões com dados temporais é uma tarefa altamente complexa. Dada a complexidade dos modelos estatísticos, *time series* representam um desafio para engenheiros de *machine learning*, estatísticos e economistas.

Tentar implementar um modelo sem usar nenhum *framework*, implica entender profundamente uma teoria que não é trivial e que exige um certo grau de especialização.

***Prophet***é um *framework* de forecasting* para séries temporais, disponibilizado como projeto *open source* pelo **Facebook**. Implementado em Python e R, é capaz de realizar previsões automatizadas e rápidas.


<p align="center"><img src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/prophet.png" height="300px"></p>

Como nem todos os problemas de *time series* podem ser resolvidos da mesma maneira - e o Prophet foi desenvolvido pensando-se nos problemas internos do Facebook -, é possível que cientistas e analistas de dados otimizem parâmetros do *framework*.

Para ter acesso a documentação oficial do projeto, basta [acessar esta página.](https://facebook.github.io/prophet/). Apesar de não haver muitos projetos e tutoriais, recomenda-se conhecer as customizações possíveis do modelo.

### Modelo Preditivo do Prophet

Como dissemos acima, o Prophet foi feito para solucionar problemas do Facebook. Ou seja, é muito forte para lidar com problemas que tenham características como:

* Dados coletados por um longo período (meses ou anos), e que possuam o maior detalhamento histórico possível.
* Sazonalidades fortes e destacadas.
* Feriados ou datas especiais conhecidas *a priori*.
* Tendência de crescimento não linear, que se aproxima de um limite.

Propeht usa um modelo de séries temporais decomposto, com três componentes principais: tendência, sazonalidade e feriados:

$$
y(t) = g(t) + s(t) + h(t) + \varepsilon_t
$$

onde:

* $g(t)$ é a tendência, que modela as mudanças não-periódicas no valor da série temporal;
* $s(t)$ representa as mudanças periódicas (como sazonalidade semanal, anual, etc);
* $h(t)$ representa os efeitos dos feriados; e
* $\varepsilon_t$ é o erro, as mudanças que não são capturadas pelo modelo (assume-se esse como tendo uma distribuição normal).

## Data Set

## [Data](https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls)


#Dicionário de Variáveis


'Row ID' : Identificador de linha 

'Order ID' : Identificador do pedido 

'Order Date' : Data do pedido 

'Ship Date'  : Data de entrega 

'Ship Mode'  : Modo de entrega
       
'Customer ID' : Identicador do cliente

'Customer Name' : Nome do Cliente

'Segment' : Seguimento 

'Country' : País 

'City'  : Cidade 

'State' : Estado 

'Postal Code' : Código Postal 

'Region' : Região 

'Product ID' : Identificação do Produto

'Category'  : Categoria

'Sub-Category' : Sub Categoria

'Product Name' : Nome do Produto

'Sales' : Venda

'Quantity' : Quantidade

'Discount' : Desconto

'Profit' : Lucro

# Hipóteses

* Segmento Corporate venda mais que seguimento Consumer
* A cidade de Los Angeles tem mais vendas que as outras cidades 
* O estado da Florida tem maior Profit que os outros estados 
* A categoria de tecnologia é a que mais vende 
* Phones é a sub categoria que mais vende

#Importando as Bibliotecas

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from fbprophet import Prophet
from fbprophet.plot import add_changepoints_to_plot
from fbprophet.diagnostics import cross_validation
from fbprophet.diagnostics import performance_metrics
from fbprophet.plot import plot_cross_validation_metric
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# configurar a visualização
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

# Visualizando os dados

In [ ]:
df = pd.read_excel('Sample - Superstore.xls')

In [ ]:
df.head(10)

   Row ID        Order ID Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156 2016-11-08  ...        2     0.00   41.9136
1       2  CA-2016-152156 2016-11-08  ...        3     0.00  219.5820
2       3  CA-2016-138688 2016-06-12  ...        2     0.00    6.8714
3       4  US-2015-108966 2015-10-11  ...        5     0.45 -383.0310
4       5  US-2015-108966 2015-10-11  ...        2     0.20    2.5164
5       6  CA-2014-115812 2014-06-09  ...        7     0.00   14.1694
6       7  CA-2014-115812 2014-06-09  ...        4     0.00    1.9656
7       8  CA-2014-115812 2014-06-09  ...        6     0.20   90.7152
8       9  CA-2014-115812 2014-06-09  ...        3     0.20    5.7825
9      10  CA-2014-115812 2014-06-09  ...        5     0.00   34.4700

[10 rows x 21 columns]

In [ ]:
df.tail()

      Row ID        Order ID Order Date  ... Quantity Discount   Profit
9989    9990  CA-2014-110422 2014-01-21  ...        3      0.2   4.1028
9990    9991  CA-2017-121258 2017-02-26  ...        2      0.0  15.6332
9991    9992  CA-2017-121258 2017-02-26  ...        2      0.2  19.3932
9992    9993  CA-2017-121258 2017-02-26  ...        4      0.0  13.3200
9993    9994  CA-2017-119914 2017-05-04  ...        2      0.0  72.9480

[5 rows x 21 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [ ]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

# Limpeza dos dados

Vamos Excluir algumas colunas que não geram valor preditivo e nem vai ajudar na análise exploratória

In [ ]:
df =df.drop(['Row ID','Order ID','Customer ID','Customer Name','Postal Code','Product ID',],axis=1)

In [ ]:
df.head()

  Order Date  Ship Date       Ship Mode  ... Quantity Discount    Profit
0 2016-11-08 2016-11-11    Second Class  ...        2     0.00   41.9136
1 2016-11-08 2016-11-11    Second Class  ...        3     0.00  219.5820
2 2016-06-12 2016-06-16    Second Class  ...        2     0.00    6.8714
3 2015-10-11 2015-10-18  Standard Class  ...        5     0.45 -383.0310
4 2015-10-11 2015-10-18  Standard Class  ...        2     0.20    2.5164

[5 rows x 15 columns]

In [ ]:
df['Quantity'].unique()

array([ 2,  3,  5,  7,  4,  6,  9,  1,  8, 14, 11, 13, 10, 12])

# Decompondo as datas

In [ ]:
# criar features para cada período
#df['year'] = df['datesold'].dt.year
#df['month'] = df['datesold'].dt.month
#df['day'] = df['datesold'].dt.day
#df['hour'] = df['datesold'].dt.hour
#df['day_of_week'] = df['datesold'].dt.dayofweek

In [ ]:
df.head()